<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contato</title>
        <link rel="stylesheet" href="..\Estilos\estilos.css">
        <script src="..\js\principal.js" defer></script>
    </head>
    <body>
        <header>
            <div class="logo">
              <img src="..\Imagens\LogoB5.png" alt="Logo">
            </div>  
            <div class="box_contato">
              <div class="box_contatoInfo">
                <img src="..\Imagens\iconeTelefCabec.png" alt="Icone Telefone">
                <p>(45) 99155-9152</p>
              </div>
              <div class="box_contatoInfo">
                <img src="..\Imagens\iconeEnderecoCabec.png" alt="Icone Endereço">
                <p>R. Vitória, 1582 - Ciro Nardi</p>
              </div>
            </div>
            <nav class="menu">
              <button onclick="location.href='../b5contabilidade.html'">Home</button>
              <button onclick="location.href='QuemSomos.html'" >Quem somos</button>
              <button onclick="location.href='Servicos.html'">Serviços</button>
              <button onclick="location.href='LinksUteis.html'">Link Úteis</button>
              <button onclick="location.href='Contato.html'">Contato</button>
            </nav>
        </header>

        <section class="fundoViewSecundaria">

            <img src="..\Imagens\backGroundContato.jpg" alt="Imagem de fundo" class="imgFundo">
            <div class="content">
                <h1 class="big-text">Contato</h1>
                <p class="imgFundoSubTitulo">Contamos com diversos canais de comunicação para agilizar e aproximar o contato com nossos clientes.</p>
            </div>

        </section>

        <section class="sectionContatoText">
            <div class="div_sectionContatoText">
                <h1>Entre em contato</h1>
                <p>Através de nosso Telefone, e-mail ou então venha até nosso escritório fazer uma visita, nós iremos adorar.</p>
            </div>
        </section>

        <section class="sectionCorpoServicos">

            <div class="div_rectanglesContato">
                <div class="rectangle_contato">
                    <img src="..\Imagens\iconeTelefoneContato.png" alt="Imagem 1">
                    <h1>Telefone</h1>
                    <p>(45) 99155-9152</p>
                </div>
                <div class="rectangle_contato">
                    <img src="..\Imagens\iconeLocalizacaoContato.png" alt="Imagem 1">
                    <h1>Endereço</h1>
                    <p>R. Vitória, 1582 - Ciro Nardi</p>
                </div>
                <div class="rectangle_contato">
                    <img src="..\Imagens\iconeEmailContato.png" alt="Imagem 1">
                    <h1>E-mail</h1>
                    <p>atendimento@b5contabilidade.com.br</p>
                </div>
            </div>

        </section>

        <section class="sectionContatoMap">
          <div class="div_mapa" id="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.0592623118337!2d-53.47225868815435!3d-24.964098277769406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3d4191cdf7159%3A0xce6eed71ee787cb0!2sR.%20Vit%C3%B3ria%2C%201582%20-%20Ciro%20Nardi%2C%20Cascavel%20-%20PR%2C%2085802-229!5e0!3m2!1spt-BR!2sbr!4v1727703041124!5m2!1spt-BR!2sbr"
              width="100%"
              height="450"
              style="border:0; margin: 0 auto; display: block;"
              allowfullscreen=""
              referrerpolicy="no-referrer-when-downgrade"
              loading="lazy">
            </iframe>
          </div>
        </section>

        <section class="sectionEmail">

          <h2>Envie um email</h2>
          <form action="https://api.staticforms.xyz/submit" method="post" class="div_email">
            <label for="email">E-mail:</label>
            <input type="text" name="name" placeholder="Nome...">
            <label for="E-mail">Telefone:</label>
            <input type="text" name="email" placeholder="Email..." />
            <label for="message">Menssagem:</label>
            <textarea name="message"></textarea>
            <button type="submit" value="Submit">Enviar</button>

            <input type="hidden" name="accessKey" value="49c2d3dd-ecda-496f-8c81-1684f9c0c02b">
            <input type="hidden" name="redirectTo" value="">
          </form>  

        </section>

        <section class="sectionWpp">
          <h2>Ou fale diretamente pelo WhatsApp</h2>
          <a href="https://wa.me/5545991559152?text=Olá, gostaria de saber mais informações." target="_blank">
          <img src="..\Imagens\iconeWpp.png" alt="wpp">
          </a>
        </section>

        <footer class="footer_corpo">

            <div class="div_footerSuperior">
              <div class="div_footerSuperiorInfo">
                
                <div class="div_footerSupInfoIcone">
                  <img src="..\Imagens\iconeTelefCabec.png" alt="Imagem 1" class="icon_rodape">  
                  <h1>(45) 99155-9152</h1>
                </div>
                
                <div class="div_footerSupInfoIcone">
                  <img src="..\Imagens\iconeEnderecoCabec.png" alt="Imagem 1" class="icon_rodape">
                  <h1>R. Vitória, 1582 - Ciro Nardi</h1>
                </div>
                
                <div class="div_footerSupInfoIcone">
                  <img src="..\Imagens\iconeEmail.png" alt="Imagem 1" class="icon_rodape">  
                  <h1>atendimento@b5contabilidade.com.br</h1>
                </div>
    
              </div>
              
              <div class="div_teste">
                <img src="..\Imagens/iconeInstaRodape.png" alt="">
                <img src="..\Imagens/IconeFaceRodape.png" alt="">
                <img src="..\Imagens/IconeLinkdinRodape.png" alt="">
              </div>
    
            </div>
    
            <div class="div_footerInferior">
              <h1>Copyright © 2024 B5 Contabilidade. Todos os direitos reservados</h1>
            </div>
    
        </footer>
    </body>
</html>