<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Serviços</title>
        <link rel="stylesheet" href="..\Estilos\estilos.css">
        <script src="..\js\principal.js" defer></script>
    </head>
    <body>
        <header>
            <div class="logo">
              <img src="..\Imagens\LogoB5.png" alt="Logo">
            </div>  
            <div class="box_contato">
              <div class="box_contatoInfo">
                <img src="..\Imagens\iconeTelefCabec.png" alt="Icone Telefone">
                <p>(45) 99155-9152</p>
              </div>
              <div class="box_contatoInfo">
                <img src="..\Imagens\iconeEnderecoCabec.png" alt="Icone Endereço">
                <p>R. Vitória, 1582 - Ciro Nardi</p>
              </div>
            </div>
            <nav class="menu">
              <button onclick="location.href='../b5contabilidade.html'">Home</button>
              <button onclick="location.href='QuemSomos.html'" >Quem somos</button>
              <button onclick="location.href='Servicos.html'">Serviços</button>
              <button onclick="location.href='LinksUteis.html'">Link Úteis</button>
              <button onclick="location.href='Contato.html'">Contato</button>
            </nav>
        </header>

        <section class="fundoViewSecundaria">

            <img src="..\Imagens\backGroundServicos.jpg" alt="Imagem de fundo" class="imgFundo">
            <div class="content">
                <h1 class="big-text">Serviços.</h1>
                <p class="imgFundoSubTitulo">Confira nossos serviços para descobrir em que nos podemos te ajudar hoje.</p>
            </div>

        </section>

        <section class="section_quemSomosCorpo">

            <div class="div_quemSomosCorpoTexto">
                <h1>O que ofereçemos?</h1>
                <p>Uma variedade de serviços que vão do departamento legal à planejamento sucessório.</p>
            </div>

        </section>

      <div class="div_coproServicos">
        <section class="sectionCorpoServicos">

            <div class="div_CorpoServicosl1">
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconeDepartamentoLegal.png" alt="Imagem 1">
                    <h1>Departamento Legal</h1>
                    <p>Orientação e execução de abertura, alteração e baixa de empresas. Constituição de holding familiar, patrimonial e participação.</p>
                </div>
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconeEscrituracaoContabil.png" alt="Imagem 1">
                    <h1>Escrituração Contábil</h1>
                    <p>Lançamento e importação de extratos bancários, despesas e transações operacionais.</p>
                </div>
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconeDepartamentoPessoal.png" alt="Imagem 1">
                    <h1>Departamento Pessoal</h1>
                    <p>Cálculo de folha de pagamento, férias, rescisões, contribuições e obrigações trabalhistas. Transmissão de e-Social.</p>
                </div>
            </div>
            
        </section>

        <section class="sectionCorpoServicos"></section>

            <div class="div_CorpoServicosl1">
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconeEscrituracaoFiscal.png" alt="Imagem 1">
                    <h1>Escrituração Fiscal</h1>
                    <p>Lançamento de documentos fiscais, apuração de impostos e geração de guias e parcelamentos.</p>
                </div>
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconePlanejamentoTributario.png" alt="Imagem 1">
                    <h1>Planejamento Tributário</h1>
                    <p>Análise de viabilidade tributária e planejamento para migração e transição de regime tributário.</p>
                </div>
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconePlanejamentoSocietario.png" alt="Imagem 1">
                    <h1>Planejamento Societário</h1>
                    <p>Análise e planejamento de ajustes societários inclusive acordo de quotistas/acionistas.</p>
                </div>
            </div>
            
        </section>

        <section class="sectionCorpoServicos"></section>

            <div class="div_CorpoServicosl1">
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconeDeclaracaoIRPF.png" alt="Imagem 1">
                    <h1>Declaração de IRPF</h1>
                    <p>Orientação e execução de declaração de ajuste anual do imposto de renda para pessoas físicas.</p>
                </div>
                <div class="rectangle_servicos">
                    <img src="..\Imagens\iconeDeclaracaoIRPF.png" alt="Imagem 1">
                    <h1>Planejamento Sucessório</h1>
                    <p>Planejamento e implantação de sucessão familiar, seja no âmbito empresarial ou mesmo na sucessão patrimonial.</p>
                </div>
            </div>
            
        </section>

      </div>

        <!--<div class="div_quemSomosCorpoImagem">
            <img src="..\Imagens\solucoes2.jpg" alt="" class="img_quemSomos">
            <img src="..\Imagens\solucoes2.jpg" alt="" class="img_quemSomos">
            <img src="..\Imagens\solucoes2.jpg" alt="" class="img_quemSomos">
        </div>-->

        <footer class="footer_corpo">

            <div class="div_footerSuperior">
              <div class="div_footerSuperiorInfo">
                
                <div class="div_footerSupInfoIcone">
                  <img src="..\Imagens\iconeTelefCabec.png" alt="Imagem 1" class="icon_rodape">  
                  <h1>(45) 99155-9152</h1>
                </div>
                
                <div class="div_footerSupInfoIcone">
                  <img src="..\Imagens\iconeEnderecoCabec.png" alt="Imagem 1" class="icon_rodape">
                  <h1>R. Vitória, 1582 - Ciro Nardi</h1>
                </div>
                
                <div class="div_footerSupInfoIcone">
                  <img src="..\Imagens\iconeEmail.png" alt="Imagem 1" class="icon_rodape">  
                  <h1>atendimento@b5contabilidade.com.br</h1>
                </div>
    
              </div>
              
              <div class="div_teste">
                <img src="..\Imagens/iconeInstaRodape.png" alt="">
                <img src="..\Imagens/IconeFaceRodape.png" alt="">
                <img src="..\Imagens/IconeLinkdinRodape.png" alt="">
              </div>
    
            </div>
    
            <div class="div_footerInferior">
              <h1>Copyright © 2024 B5 Contabilidade. Todos os direitos reservados</h1>
            </div>
    
          </footer>
    </body>
</html>